<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
	<div>
		<form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
	</div>
	<div>
		<form method="post">
			<input type="text" name="text" placeholder="¬ведите сообщение"/>
			<input type="text" name="tag" placeholder="Tag"/>
			<input type="hidden" name="_csrf" value="{{_csrf.token}}">
			<button type="submit">Add</button>
		</form>
	</div>
	<div>List messages</div>
	<form method="post" action="filter">
		<input type="text" name="filter" />
		<input type="hidden" name="_csrf" value="{{_csrf.token}}">
		<button type="submit">Find</button>
	</form>
	{{#messages}}
	<div>
		<b>{{id}}</b>
		<span>{{text}}</span>
		<i>{{tag}}</i>
	</div>
	{{/messages}}
</html>